<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <% include ./partials/header %>
</head>

<body>
  <div class="mui-container">
    <h1>Success! Your file is uploaded.</h1>
    <h2>See file at http://localhost:3000/uploaded/<%= filename %> </a></h2>
    <button class="mui-btn mui-btn--raised mui-btn--primary" onclick="window.location='http://localhost:3000';">
      Go back
    </button>
  </div>
</body>

</html>
