<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <% include ./partials/header %>
</head>

<body>
  <h1>Success! Your file is uploaded.</h1>
  <h2>See file at http://localhost:3000/uploaded/<%= filename %> </a></h2>
  <a href="http://localhost:3000/">Go back. Upload another file.</a>
</body>

</html>
