<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <% include ./partials/header %>
</head>

<body>
  <h1>Success! Here is file descriptions</h1>
  <h2>Filename: <%= file.filename %></h2>
  <h2>Upload at: <%= file.uploadDate %></h2>
  <h2>MD5 checksum of file: <%= file.md5 %></h2>
</body>

</html>
